body{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 2px;
    background-color: #F0F8FF;
  }
  
  .main{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    
  }
  
  .blog{
    width:90%;
    margin: auto;
  }
  
  .name-card{
    width: 40%;
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 0px 5%;
  }
  
  #name{
    font-size: 50px ;
    font-weight: bold;
  }
  
  #title{
    font-size: 45%;
    font-weight:normal;
  
  }
  
  .title-link{
    text-decoration: none;
    color:#f4900c;
  }
  
  .contact{
    width:10%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  
  img .social:hover{
    width: 55px;
    height: 55px;
  }
  
  
  
  img.dp{
    margin: 20px;
  }
  
  .navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: #f4900c;
  }
  
  .nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px;
  }
  
  
  .nav-link{
  
    width: 33%;
    text-decoration: none;
    display: block;
    color:white;
  
  }
  
  
  
  
  .link-nav{
    width:100%;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  
  .nav:hover{
    box-shadow: 4px 4px;
  }
  
  
  .article{
    width: 90%;
    background-color: white;
    border: 0.5px solid gray;
    box-shadow: 1px 1px;
    padding: 50px;
    
  }
  .article-date{
    width:10%;
  }
  .article-content{
    width:80%
  }
  
  .article-img{
    width:100%;
    height:auto;
    text-align:center;
  }
  
  .article p{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  
  .nav p {
    text-align: center;
    color: white;
    background-color: #f4900c ;
    width: 100%;
    margin:auto;
    padding: 16px;
    
    
  }
  
  p{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  
  iframe{
    width: 80%;
    height: 500px;
    margin: auto;
    text-align: center;
  }
  
  .stack{
    display: flex;
  
  }
  
  .stack-item{
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
  }
  
  .stack-item p{
    font-size: 11px;
  }
  
  #python 
  {
     background-color: #FFFFCC;
  }
  
  #snowflake{
    background-color: lightblue;
    color: white;
  }
  
  #dbt{
    background-color: coral;
    color: white;
  
  }
  
  #looker{
    background-color: violet;
    color: white;
  }
  
  #tableau{
    background-color: crimson;
    color: white;
  }
  
  #flutter{
    background-color: #7fcdff;
    color: white;
  }
  
  #mongodb{
    color: white;
    background-color: #008a20;
  }
  
  #nodejs{
    color: black;
    background-color: greenyellow;
  }
  
  #unity{
    background-color: black;
    color: white;
  }
  
  #c-sharp{
    background-color: purple;
    color: white;
  }
  
  #talend{
    color:white;
    background-color:cornflowerblue;
  }
  
  footer{
    width: 100%;
    height: 20%;
  }
